<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>空き教室検索_使いかた</title>
    <link rel="stylesheet" href="about.css">
  </head>
  <body>

    
    <main>
        <h1>使い方</h1>
        <p>このサイトでは、空き教室を簡単に検索できます。</p>
        <h2>検索方法</h2>
        <p>トップページから、時間や教室を選択して検索してください。</p>
        <h2>お問い合わせ</h2>
        <p>ご不明点があれば、お問い合わせページからご連絡ください。</p>

    </main>
    
  </body>
</html>

