<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>空き教室検索_お問い合わせ</title>
    <link rel="stylesheet" href="contact.css">
  </head>
  <body>
    
    <header>
      <a href="/" class="logo"><%= image_tag "logo.png", alt: "ロゴ" %></a>
      <ul>
        <li><a href="/about" class="about">使い方</a></li>
        <li><a href="/contact" class="contact">お問い合わせ</a></li>
      </ul>
    </header>
    
    <main>
        <h1>お問い合わせ</h1>
        <p>ご意見・ご要望などがございましたら、以下のフォームからお問い合わせください。</p>
    </main>

    <footer>
      <p>© 2025 chuRoom</p>
    </footer>
    
  </body>
</html>