<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>空き教室検索_トップ</title>
    <link rel="stylesheet" href="top.css">
  </head>
  <body>
    
    <header>
      <a href="/" class="logo"><%= image_tag "logo.png", alt: "ロゴ" %></a>
      <ul>
        <li><a href="/about" class="about">使い方</a></li>
        <li><a href="/contact" class="contact">お問い合わせ</a></li>
      </ul>
    </header>
    
    <main>
        <div class="mode">
            <input type="radio" name="mode-select" value="mode-time" id="time">
            <label for="time"><%= image_tag "time.png", alt: "時間から探す" %></label>
            <input type="radio" name="mode-select" value="mode-room" id="room">
            <label for="room"><%= image_tag "room.png", alt: "教室から探す" %></label>
        </div>

        <div class="search-time">
            <div class="select day-select">
                <h2>曜日</h2>
                    <input type="radio" name="day" value="Mon" id="day-Mon">
                    <label for="day-Mon">月</label>

                    <input type="radio" name="day" value="Tue" id="day-Tue">
                    <label for="day-Tue">火</label>

                    <input type="radio" name="day" value="Wed" id="day-Wed">
                    <label for="day-Wed">水</label>

                    <input type="radio" name="day" value="Thu" id="day-Thu">
                    <label for="day-Thu">木</label>

                    <input type="radio" name="day" value="Fri" id="day-Fri">
                    <label for="day-Fri">金</label>

                    <input type="radio" name="day" value="Sat" id="day-Sat">
                    <label for="day-Sat">土</label>
            </div>

             <div class="select time-select">
                <h2>時間</h2>
                    <input type="radio" name="time" value="one" id="1">
                    <label for="1">1限</label>

                    <input type="radio" name="time" value="two" id="2">
                    <label for="2">2限</label>

                    <input type="radio" name="time" value="three" id="3">
                    <label for="3">3限</label>

                    <input type="radio" name="time" value="four" id="4">
                    <label for="4">4限</label>

                    <input type="radio" name="time" value="five" id="5">
                    <label for="5">5限</label>
            </div>

            <div class="search">
                <a class="btn btn-search">決定</a>
            </div>

        </div>

        <div class="search-room">

        </div>

    </main>

    <footer>
      <p>© 2025 chuRoom</p>
    </footer>
    
  </body>
</html>