body {
  color: #383e45;
  font-family: "Avenir Next";
}
a {
  text-decoration: none;
  color:black;
}
li {
  list-style: none;
}
ul{
  padding: 0;
}
img{
  width:100%;
}
*, *::before, *::after {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* ヘッダー部分*/
header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}
header .logo{
  display: inline-block;
  width:100px;
}
header ul{
  display: flex;
  gap: 1rem;
  margin-right:1rem;
}
header ul li{
  font-size:1rem;
}

/* メイン部分*/
main{
  margin: 0 5%;
  flex: 1 0 auto;
}

/* フッター部分*/
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; 
  width: 100%;
  margin-top: 5rem;
  border-top:#353535 solid 1px;
}
