body {
  color: #383e45;
  font-family: "Avenir Next";
}
a {
  text-decoration: none;
  color:black;
}
li {
  list-style: none;
}
ul{
  padding: 0;
}
img{
  width:100%;
}
*, *::before, *::after {
  box-sizing: border-box;
}

/* ヘッダー部分*/
header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}
header .logo{
  display: inline-block;
  width:100px;
}
header ul{
  display: flex;
  gap: 1rem;
  margin-right:1rem;
}
header ul li{
  font-size:1rem;
}

/* フッター部分*/
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  margin:0 auto;
  padding:0;
  border-top:#353535 solid 1px;
  text-align:center;
}
