.result-time{
    width:90%;
    margin: 0 auto;
}
/*index.cssからのスタイルの継承*/
.result-time h2{
    font-size: 1.5rem;
    margin: 1.5rem 0;
    margin-bottom:2rem;
    text-align: center;
    color: #001120;
}
.result-time .availability__body{
    margin-bottom:5rem;
    background-color: #fff;
    margin-bottom: 2rem;
    box-shadow: 0 10px 26px rgba(7,73,143,.06); 
    border: 1px solid rgba(7,73,143,.14);  
    border-radius: 14px;
    padding-top:1rem;
}
.result-time .availability__floors{
    padding-bottom: 1.2rem;
}
.result-time .availability__building-name{
    font-size: 1.3rem;
    margin-top: 0rem;
    margin-bottom: 0.7rem;
    margin-left: 0.4rem;
}
.result-time .availability__floors{
    width: 90%;
    margin: 0 auto;
}
.result-time .availability__floor{
    margin-bottom: 0.5rem;
}
.result-time .availability__room a{
    display: inline-block;
    width: 17%;
    padding: 0.5rem;
    margin: 0.2rem 0;
    background-color: #e0f7fa;
    border-radius: 6px;
    text-align: center;
    font-size: 1.1rem;
}

.result-time__btn{
    text-align: center;
    margin-bottom: 1rem;
}
.result-time .btn {
  display: inline-block;
  background: #F96E1D;
  color: #fff;
  padding: 0.7rem 1.2rem;
  font-size: 0.95rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s;
}
.result-time .btn:hover {
  background: #b94400;
}

/* タブレット用レスポンシブ*/
@media screen and (min-width: 768px) {
    .result-time{
    width:80%;
}
.result-time .availability__room a{
    width: 15%;
    font-size:1.3rem;
    padding: 0.7rem;
}

}

/* PC用レスポンシブ*/
@media screen and (min-width: 1024px) {
    .result-time{
    width:70%;
}
.result-time .availability__room a{
    width: 15%;
    font-size:1.3rem;
    padding: 0.7rem;
}
.result-time .availability__body{
    width:80%;
    margin:0 auto;
    padding: 1.25rem;
    margin-bottom:2rem;
}

}